<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @sistema_operativo.nombre %>
</p>


<%= link_to 'Edit', edit_sistema_operativo_path(@sistema_operativo) %> |
<%= link_to 'Back', sistemas_operativos_path %>
